.itemBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.album{
display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 80px;
  grid-column-gap: 270px;
  justify-content: center;
}